@model dotnetcore3stu.Student
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content = "width=device-width"/>
        <title>Hello From Index.cshtml</title>
    </head>
    <body>
        <h1>
           @Model.FirstName @Model.LastName 
        </h1>
        <a asp-action="Index">返回到Home</a>
    </body>
</html>