@model HomeIndexViewModel
@{
    ViewBag.Title = "Home Index";
}

<h1>
    @foreach(var s in Model.Students){
        <li>
            @s.Name (@s.Age) 
            <a asp-action="Detail",
            asp-route-id="@s.Id">明细 Tag</a>
        </li>
    }
</h1>
@section bottom{
    <div>
        <a asp-action="Create">添加一个学生</a>
    </div>
}

