@model dotnetcore3stu.Student
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content = "width=device-width"/>
        <title>Hello From Index.cshtml</title>
    </head>
    <body>
        <h1>
        <!--传过来的student模型-->
            @Model.FirstName
            @Model.LastName
        </h1>
    </body>
</html>