@model IEnumerable<dotnetcore3stu.HomeIndexViewModel>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content = "width=device-width"/>
        <title>Hello From Index.cshtml</title>
    </head>
    <body>
        <h1>
            @foreach(var s in Model){
                <li>
                    @s.Name (@s.Age)
                </li>
            }
        </h1>
    </body>
</html>