@model dotnetcore3stu.HomeIndexViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content = "width=device-width"/>
        <title>Hello From Index.cshtml</title>
    </head>
    <body>
        <h1>
            @foreach(var s in Model.Students){
                <li>
                    @s.Name (@s.Age) 
                    @Html.ActionLink("明细","detail",new {id = s.Id})
                </li>
            }
        </h1>
    </body>
</html>